<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paramètres | TECH2BUY</title>
    <link href='https://fonts.googleapis.com/css?family=Barlow Semi Condensed' rel='stylesheet'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="commun.css" />
    <script src="/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="output-onlinepngtools 1.png" style="height: 20px; width: 30px;">
</head>
<style>
    body {
        background-image: linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, rgb(146,196,255),rgb(146,196,255));
    }

    .card {
        margin-bottom: 1.5rem;
        box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e5e9f2;
        border-radius: .8rem;
    }

    .card-header:first-child {
        border-radius: calc(.8rem - 1px) calc(.8rem - 1px) 0 0;
    }

    .card-header {
        border-bottom-width: 1px;
        border-radius: .8rem;
    }

    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        color: inherit;
        background-color: #fff;
        border-bottom: 1px solid #e5e9f2;
    }
</style>
<header>
    <%- include("../partials/headTech2buy.ejs") %>
</header>
<div class="container p-0">
    <br><br>
    <div class="row">
        <div class="col-md-5 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Paramètres du Profile</h5>
                </div>
                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#compte"
                        role="tab">Compte</a>
                    <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#motdepasse"
                        role="tab">Mot de passe</a>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xl-8">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="compte" role="tabpanel">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Informations publique</h5>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/parametreUtilisateur">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="nom_utilisateur">Nom utilisateur</label>
                                            <input type="text" class="form-control" id="nom_utilisateur"
                                                name="nom_utilisateur" placeholder="<%= utilisateur.nom_utilisateur %>">
                                            <input type="hidden" name="id_utilisateur"
                                                value="&lt;%= id_utilisateur %&gt;">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <input class="btn btn-primary" class="btn btn-primary btn-block col-8" type="submit"
                                    value="Sauvegarder">
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Informations Privées</h5>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/parametreUtilisateur"  onsubmit="return validateForm()">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="prenom">Prénom</label>
                                        <input type="text" class="form-control" id="prenom" name="prenom"
                                            placeholder="<%= utilisateur.prenom %>">
                                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="nom">Nom</label>
                                        <input type="text" class="form-control" id="nom" name="nom"
                                            placeholder="<%= utilisateur.nom %>">
                                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="adresse_courriel">Adresse courriel</label>
                                    <input type="email" class="form-control" id="adresse_courriel"
                                        name="adresse_courriel" placeholder="<%= utilisateur.adresse_courriel %>">
                                    <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                                </div>
                                <div class="form-group">
                                    <label for="adresse">Adresse</label>
                                    <input type="text" class="form-control" id="adresse" name="adresse"
                                        placeholder="<%= adresse_de_livraison.adresse || 'Entrez votre adresse' %>">
                                    <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="pays">Pays</label>
                                        <input type="text" class="form-control" id="pays" name="pays"
                                            placeholder="<%= adresse_de_livraison.pays || 'Entrez votre pays' %>">
                                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="ville">Ville</label>
                                        <input type="text" class="form-control" id="ville" name="ville"
                                            placeholder="<%= adresse_de_livraison.ville || 'Entrez votre ville' %>">
                                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputState">Province</label>
                                        <input type="text" class="form-control" id="province" name="province"
                                            placeholder="<%= adresse_de_livraison.province || 'Entrez votre province' %>">
                                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputZip">Code postal</label>
                                        <input type="text" class="form-control" id="code_postal" name="code_postal"
                                            placeholder="<%= adresse_de_livraison.code_postal || 'Entrez votre code postal' %>">
                                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                                        <div id="code_postal_error" style="color: red;"></div>
                                    </div>
                                </div>
                                <br>
                                <input class="btn btn-primary" class="btn btn-primary btn-block col-8" type="submit"
                                    value="Sauvegarder">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="motdepasse" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mot de passe</h5>
                            <form id="updatePasswordForm" method="POST" action="/miseAJourMotDePasse" onsubmit="return validation()">
                                <div class="form-group">
                                    <label for="mot_de_passe_actuel">Mot de passe actuel</label>
                                    <input type="password" class="form-control" id="mot_de_passe_actuel" name="mot_de_passe_actuel" placeholder="Entrez votre mot de passe actuel...">
                                    <span id="erreurMotDePasseActuel"></span>
                                </div>
                                <div class="form-group">
                                    <label for="nouveau_mot_de_passe">Nouveau mot de passe</label>
                                    <input type="password"
                                        class="form-control <%= typeof erreurNouveauMotDePasse !== 'undefined' ? 'is-invalid' : '' %>"
                                        id="nouveau_mot_de_passe" name="nouveau_mot_de_passe"
                                        placeholder="Entrez votre nouveau mot de passe...">
                                    <% if (typeof erreurNouveauMotDePasse !=='undefined' ) { %>
                                        <div class="invalid-feedback">
                                            <%= erreurNouveauMotDePasse %>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="form-group">
                                    <label for="confirmer_nouveau_mot_de_passe">Confirmer le nouveau mot de passe</label>
                                    <input type="password"
                                        class="form-control <%= typeof erreurConfirmationNouveauMotDePasse !== 'undefined' ? 'is-invalid' : '' %>"
                                        id="confirmer_nouveau_mot_de_passe" name="confirmer_nouveau_mot_de_passe"
                                        placeholder="Confirmez votre nouveau mot de passe...">
                                    <% if (typeof erreurConfirmationNouveauMotDePasse !=='undefined' ) { %>
                                        <div class="invalid-feedback">
                                            <%= erreurConfirmationNouveauMotDePasse %>
                                        </div>
                                    <% } %>
                                </div>
                                <span id="msgDeValidationMDP" style="color:red"></span>
                                <br>
                                <input class="btn btn-primary" type="submit" value="Sauvegarder">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {

        $("#updatePasswordForm").submit(function(event) {
            event.preventDefault(); 


            if (!validation()) {
                return false;
            }


            $.ajax({
                type: "POST",
                url: "/miseAJourMotDePasse",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        $("#msgDeValidationMDP").html("<span style='color:green'>" + response.success + "</span>");
                    }
                },
                error: function(response) {
                    const errors = response.responseJSON;
                    if (errors.erreurMotDePasseActuel) {
                        $("#erreurMotDePasseActuel").html("<span style='color:red'>" + errors.erreurMotDePasseActuel + "</span>");
                    }
                    if (errors.erreurConfirmationNouveauMotDePasse) {
                        $("#erreurConfirmationNouveauMotDePasse").html("<span style='color:red'>" + errors.erreurConfirmationNouveauMotDePasse + "</span>");
                    }
                    if (errors.erreur) {
                        $("#msgDeValidationMDP").html("<span style='color:red'>" + errors.erreur + "</span>");
                    }
                }
            });
        });

        function validatePasswordFields() {
            var newPassword = $("#nouveau_mot_de_passe").val();
            var confirmPassword = $("#confirmer_nouveau_mot_de_passe").val();

            if (newPassword !== confirmPassword) {
                $("#msgDeValidationMDP").html("Les nouveaux mots de passe ne correspondent pas.");
                return false;
            } else {
                $("#msgDeValidationMDP").html("");
                return true;
            }
        }

        function validation() {
            if (!validatePasswordFields()) {
                return false;
            }

            var newPassword = $("#nouveau_mot_de_passe").val();

            var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
            if (!strongRegex.test(newPassword)) {
                $("#msgDeValidationMDP").html("Le nouveau mot de passe doit comporter au moins 8 caractères et contenir au moins une lettre minuscule, une lettre majuscule, un chiffre numérique et un caractère spécial.");
                return false;
            }
            return true;
        }
    });
</script>
<script>
    function validatePostalCode() {
        var postalCode = document.getElementById("code_postal").value;
        var errorElement = document.getElementById("code_postal_error");

        if (postalCode.length > 6) {
            errorElement.textContent = "Le code postal doit comporter au maximum 6 caractères.";
            return false;
        } else {
            errorElement.textContent = "";
            return true;
        }
    }

    function validateForm() {
        return validatePostalCode();
    }

    document.getElementById("code_postal").addEventListener("input", validatePostalCode);
</script>