<!--Code qui permet montrer le header de tech2buy-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Affichage Principale</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="commun.css"/>
    <script src="/js/bootstrap.min.js"></script>
</head>
<link href='https://fonts.googleapis.com/css?family=Barlow Semi Condensed' rel='stylesheet'>
<header>
    <!--Code qui permet montrer le header de tech2buy-->
    <%- include("../partials/headTech2buy.ejs") %>
</header>
<body>
    <div class="container">
        <h1>Résultat de la recherche pour "<%= searchTerm %>"</h1>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filtre
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/recherche?query=<%= searchTerm %>&sortBy=priceDesc">Prix</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        <!-- <div class="dropdown mb-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="filterMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filtre
            </button>
            <div class="dropdown-menu" aria-labelledby="filterMenuButton">
              <a class="dropdown-item" href="/recherche?query=<%= searchTerm %>&sortBy=priceDesc">Prix</a>
            </div>
          </div> -->
          
        <div class="row">
            <% if (items.length) { %>
                <% items.forEach(function(item) { %>
                    <div class="col-md-3">
                        <div class="card" style="width: 16rem;">
                            <% if (item.image_url) { %>
                                <img src="<%= item.image_url %>" class="card-img-top" alt="<%= item.nom_produit %>">
                            <% } %>
                            <div class="card-body">
                                <h5 class="card-title"><%= item.nom_produit %></h5>
                                <p class="card-text">$<%= item.prix_unitaire %></p>
                                <p class="card-text"><%= item.description_produit %></p>
                                <form action="/ajouterAuPanier" method="post">
                                    <input type="hidden" name="image_url" value="<%= item.image_url %>">
                                    <input type="hidden" name="nom_produit" value="<%= item.nom_produit %>">
                                    <input type="hidden" name="description_produit" value="<%= item.description_produit %>">
                                    <input class="btn btn-primary" class="btn btn-primary btn-block col-8"  type="submit"
                                    value="Ajouter au panier"></button>
                                </form>
                                <a href="./detailProduit?id=<%= item.id_produit%>" class="btn btn-primary">Voir le produit</a>
                            </div>
                        </div>
                        <br>
                    </div>
                <% }) %>
            <% } else { %>
                <h3>Aucun résultat trouvé pour "<%= searchTerm %>"</h3>
            <% } %>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>

    
</body>
</html>