<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche | TECH2BUY</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="commun.css"/>
    <script src="/js/bootstrap.min.js"></script>
</head>
<link href='https://fonts.googleapis.com/css?family=Barlow Semi Condensed' rel='stylesheet'>
<header>
    
    <%- include("../partials/headTech2buy.ejs") %>
</header>
<script>
  document.addEventListener('DOMContentLoaded', function () {
  var submenuTriggers = document.querySelectorAll('.dropdown-submenu a');

  submenuTriggers.forEach(function (trigger) {
    trigger.addEventListener('click', function (e) {
      var openSubmenus = document.querySelectorAll('.dropdown-submenu .dropdown-menu');
      openSubmenus.forEach(function (menu) {
       
        if (menu !== this.nextElementSibling) {
          menu.style.display = 'none';
        }
      }, this); 

      var submenu = this.nextElementSibling;
      submenu.style.display = (submenu.style.display === 'block' ? 'none' : 'block');

      e.stopPropagation();
    });
  });

  document.addEventListener('click', function (e) {
    var openSubmenus = document.querySelectorAll('.dropdown-submenu .dropdown-menu');
    openSubmenus.forEach(function (menu) {
      if (!menu.contains(e.target)) {
        menu.style.display = 'none';
      }
    });
  });
});

document.addEventListener('DOMContentLoaded', function () {
  var sortLinks = document.querySelectorAll('.sort-link');
  
  sortLinks.forEach(function(link) {
    link.addEventListener('click', function() {
      var sortMode = this.getAttribute('data-sort');
      fetch(`/recherche?query=<%= searchTerm %>&sortBy=` + sortMode)
        .then(response => response.json())
        .then(data => {
          
          updateResultsDisplay(data);
        });
    });
  });

  function updateResultsDisplay(items) {
    var resultsContainer = document.querySelector('.row');
    resultsContainer.innerHTML = ''; 

    items.forEach(function(item) {
      var cardHtml = `<% if (items.length) { %>
                <% items.forEach(function(item) { %>
                      <div class="col-md-3">
                        <div class="card" style="width: 16rem;">
                            <% if (item.image_url) { %>
                                <img src="<%= item.image_url %>" class="card-img-top" alt="<%= item.nom_produit %>">
                            <% } %>
                            <div class="card-body">
                                <h5 class="card-title"><%= item.nom_produit %></h5>
                                <p class="card-text">$<%= item.prix_unitaire %></p>
                                <p class="card-text"><%= item.description_produit %></p>
                                <form action="/ajouterAuPanier" method="post">
                                    <input type="hidden" name="id_produit" value="<%= item.id_produit %>">
                                    <input type="hidden" name="image_url" value="<%= item.image_url %>">
                                    <input type="hidden" name="nom_produit" value="<%= item.nom_produit %>">
                                    <input type="hidden" name="description_produit" value="<%= item.description_produit %>">
                                    <input class="btn btn-primary btn-block col-8" type="submit" value="Ajouter au panier">
                                    <label for="quantity">Qty:</label>
                                    <input type="number" id="quantity" name="quantite" min="1" value="1" style="width: 15%;">
                                </form>
                                <a href="./detailProduit?id=<%= item.id_produit%>" class="btn btn-primary">Voir le produit</a>
                            </div>
                        </div>
                        <% }); %>
            <% } else { %>
                <h3>Aucun résultat trouvé pour "<%= searchTerm %>"</h3>
            <% } %>`;
      resultsContainer.innerHTML += cardHtml;
    });
  }
});

function recherche(searchTerm, sortBy) {
    fetch(`/recherche?query=${encodeURIComponent(searchTerm)}&sortBy=${sortBy}`)
        .then(response => response.json())
        .then(data => {
            console.log(data);
        })
        .catch(error => console.error('Erreur lors de la recherche AJAX:', error));
}
</script>
<body>
    <div class="container">
        <br>
        <h1>Résultat de la recherche pour "<%= searchTerm %>"</h1>
        <br>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filtre
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="dropdown-item" tabindex="-1">Prix</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/recherche?query=<%= searchTerm %>&sortBy=priceDesc">Prix Décroissant</a></li>
                    <li><a class="dropdown-item" href="/recherche?query=<%= searchTerm %>&sortBy=priceAsc">Prix Croissant</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item" tabindex="-1">Ordre alphabétique</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/recherche?query=<%= searchTerm %>&sortBy=nomAsc">Ordre de A-Z</a></li>
                      <li><a class="dropdown-item" href="/recherche?query=<%= searchTerm %>&sortBy=nomDesc">Ordre de Z-A</a></li>
                    </ul>
                  </li>
              </ul>
        </div>
          <br>
        <div class="row">
            <% if (items.length) { %>
                <% items.forEach(function(item) { %>
                    <div class="col-md-3">
                        <div class="card" style="width: 16rem;">
                            <% if (item.image_url) { %>
                                <img src="<%= item.image_url %>" class="card-img-top" alt="<%= item.nom_produit %>">
                            <% } %>
                            <div class="card-body">
                                <h5 class="card-title"><%= item.nom_produit %></h5>
                                <p class="card-text">$<%= item.prix_unitaire %></p>
                                <p class="card-text"><%= item.description_produit %></p>
                                <form action="/ajouterAuPanier" method="POST">
                                    <input type="hidden" name="id_produit" value="<%= item.id_produit %>">
                                    <input type="hidden" name="image_url" value="<%= item.image_url %>">
                                    <input type="hidden" name="nom_produit" value="<%= item.nom_produit %>">
                                    <input type="hidden" name="description_produit" value="<%= item.description_produit %>">
                                    <input class="btn btn-primary btn-block col-8" type="submit" value="Ajouter au panier">
                                    <label for="quantity">Qty:</label>
                                    <input type="number" id="quantity" name="quantite" min="1" value="1" style="width: 15%;">
                                </form>
                                <br>
                                <a href="./detailProduit?id=<%= item.id_produit%>" class="btn btn-primary">Voir le produit</a>
                            </div>
                        </div>
                        <br>
                    </div>
                <% }) %>
            <% } else { %>
                <h3>Aucun résultat trouvé pour "<%= searchTerm %>"</h3>
            <% } %>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>